body{
    background-color: #e2ffcc;
}
p{
    font-size: 20px;
    font-family:Brush Script MT;
    color: rgb(245, 245, 244);}
    
    a:link{color: rgb(255, 87, 255); text-decoration: none;}

    a:visited{color: rgb(141, 0, 151);}
    a:hover{color: rgb(12, 246, 43);
    text-decoration: underline;}
    
